body {
	margin: 0;
    background-color: #645C84;
}

.background-colour-light {
    background-color: #837D9B;
}

.background-colour-dark {
    background-color: #645C84;
}

.background-colour-banner{
    background-color: #BFBD7E;
}

div {
	margin: 0;
	border: 0;
}

p {
    margin-top: 0;
    padding-left: 10px;
    padding-top: 8px;
}

button {
    margin-left: 8px;
    vertical-align: middle;
}

#myTable{
    min-width: 100%;
}

th:first-child {
    width: 10%;
    overflow-wrap: break-word;
    word-break: break-all;
}

td:first-child {
    width: 10%;
    overflow-wrap: break-word;
    word-break: break-all;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    cursor: pointer;
    width: 25%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    word-break: break-all;
}

table {
    border-collapse: collapse;
    height: 100%;
}

tbody 
{
    display: block;
    height: 95%;
}

thead, tbody tr{
    display: table;
    width: 99.9%;
}

.main-body {
	height: 100%;
	width: 100%;
}

.top-banner{
    position: relative;
    text-align: center;
    height: 9%;
    margin-bottom: 1%;
    background-color: #BFBD7E;
}

.login-link{
    position: absolute;
    top: 25%;
    right: 0;
    height: 50%;
    padding-right: 8px;
}