body {
	margin: 0;
    background-color: 645C84;
}

div {
	margin: 0;
	border: 0;
}

p {
    margin-top: 0;
    padding-left: 10px;
    padding-top: 8px;
}

button {
    margin-left: 8px;
    vertical-align: middle;
}

th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    cursor: pointer;
}

td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

.main-body {
	height: 100%;
	width: 100%;
}

.top-banner{
    position: relative;
    text-align: center;
    height: 9%;
    background-color: BFBD7E;
    margin-bottom: 1%;
}