.login-form{
    margin-left: 35%;
    width: 30%;
    background-color: 837D9B;
    padding-bottom: 0.1%;
}

.form-header-holder{
    text-align: center;
}

.form-input-holder input{
    margin-left: 10px;
}

select {
	margin-left: 2%;
}