.login-link{
    position: absolute;
    top: 25%;
    right: 0;
    height: 50%;
    padding-right: 8px;
}

.content-container{
    height: 89%;
}

.content-container div{
    float: left;
    width: 25%;
    height: 100%;
    margin-right: 0.5%;
    text-align: center;
    background-color: 837D9B;
}

.content-left{
    margin-left: 12%;
}

.content-right{
    margin-right: 0;
}

.form-holder{
    text-align: left !important;
    min-width: 100%;
    position: relative;
}

.question-input-field{
    width: 80%;
    height: 20%;
    word-break: break-all;
}