.content-container{
    height: 87.5%;
}

.content-container div{
    float: left;
    width: 29.2%;
    height: 100%;
    margin-right: 0.5%;
    text-align: center;
    background-color: 837D9B;
}

.content-left{
    margin-left: 9.7%;
}

.content-middle{
    width: 22% !important;
}

.content-right{
    margin-right: 0;
}

.form-holder{
    text-align: left !important;
    min-width: 90%;
    position: relative;
    padding-left: 5%;
    padding-top: 5%;
    max-height: 95%;
}

.question-input-field{
    width: 100%;
    height: 20%;
    word-break: break-all;
}

#change-colour{
    top: 25%;
    height: 50%;
    position: absolute;
}

#whiteboard{
    width: 100%;
    height: 100%;
    position: absolute;
}


img.emoji {  
  margin: 0px !important;
  display: inline !important;
  width: 32px;
  height: 32px;
}

textarea {
   resize: none;
}

.log-out-button{
    float: right;
}