.left-container {
    float: left;
    width: 320px;
    height: 100%;
}

.webcam-container{
    position: absolute;
    width: 320px;
    height: 240px;
}

.webcam-container.top {
    top: 0;
}

.menu-bar {
    position: absolute;
	width: 320px;
    top: 240px;
    bottom: 240px;
	background-color: BFBD7E;
    display: table-cell;        
    vertical-align: bottom;
}

.webcam-container.bottom {
    bottom: 0;
}

.visual-box {
	min-height: 100vh;
	background-color: E1CFAF;
    position: absolute;
    top: 0;
    right: 0;
    left: 320px;
}

#whiteboard{
    width: 100%;
    height: 100%;
    position: absolute;
}


#chat-container {
    position: absolute;
    right: 0%;
    bottom: 0%;
    width: 15%;
    min-width: 250px;
    min-height: 325px;
    height: 30%;
    background-color: white;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
}

#name-bar {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 30px;
    background-color: lightgrey;
}

#name-bar-p {
    text-align: center;
}

#nav-bar {
    position: absolute;
    background-color: lightgrey;
    top: 0px;
    right: 0px;
    text-align: center;
    width: 30px;
    height: 100%;
    border: 1px solid;
}

#box  {
    position: relative;
    background-color: white;
    width: 99%;
    top: 9.4%;
    height: 78%;
    font-size: 0.75em;
    word-wrap: break-word;
    overflow: scroll;
}

#message-box {
    position: absolute;
    resize: none;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 12.5%; 
}